{% extends 'home/base.html' %}
{% load static %}   
{% block content %}

    <!-- Main qismi -->
    <main>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/1.a742c0f72d4bfa03a98a.png.svg' %}" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/1.a742c0f72d4bfa03a98a.png.svg' %}" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/1.a742c0f72d4bfa03a98a.png.svg' %}" class="d-block w-100" alt="">
                </div>
            </div>
        </div>
        <div class="productInfo">
            <h1>Ko'p sotilganlar <img src="../images/Vector.svg" alt=""></h1>

            <!-- Mahsulotlar -->

            <div class="Products">

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                        <a href="{% url 'products:detail' %}">
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p> <i class="fa-solid fa-eye"></i>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <div class="productInfo">
            <h1>Ayollar uchun <img src="../images/Vector.svg" alt=""></h1>

            <!-- Mahsulotlar -->

            <div class="Products">

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/1.a742c0f72d4bfa03a98a.png.svg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../images/1.a742c0f72d4bfa03a98a.png.svg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="../images/1.a742c0f72d4bfa03a98a.png.svg" class="d-block w-100" alt="">
                </div>
            </div>
        </div>
        <div class="productInfo">
            <h1>Ko'p sotilganlar <img src="../images/Vector.svg" alt=""></h1>

            <!-- Mahsulotlar -->

            <div class="Products">

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <div class="productInfo">
            <h1>Ayollar uchun <img src="../images/Vector.svg" alt=""></h1>

            <!-- Mahsulotlar -->

            <div class="Products">

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="img">
                        <img src="{% static 'images/t_product_540_high.jpg.svg' %}" alt="" />
                        <div class="Productkarzina">
                            <p>Savatga</p>
                        </div>
                    </div>
                    <div class="poductInfo">
                        <p class="name">Chanel #112</p>

                        <div class="sum">
                            <p class="hozirgi">999 000 so'm</p>
                            <div class="korish">
                                <p>Mahsulotni ko'rish</p>  <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>

    <!-- Main Qismi Tugashi -->


{% endblock content %}