* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

p {
    margin: 0;
}

:root {
    --add: #FFA500;
}

.container {
    width: 1200px;
    margin: 0 auto;

}



.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px auto;
}

.productInfo h1 {
    font-weight: 600;
    margin: 20px 0;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    display: flex;
    gap: 5px;
}

.Products {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 1220px;
}

.product {
    width: 280px;
    background-color: #ffffff;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 45px -20px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 45px -20px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 45px -20px rgba(34, 60, 80, 0.2);
}

.img {
    position: relative;
    transition: all 0.4s ease;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img img {
    width: 280px;
    height: 280px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Productkarzina {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    transition: all 0.4s ease;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Productkarzina p {
    color: white;
    background-color: var(--add);
    padding: 7px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.Productkarzina p:active {
    transition: all 0.4s ease;
    scale: 60%;
}

.img:hover .Productkarzina {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.poductInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.korish {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    background-color: var(--add);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    scale: 90%;
    transition: all 0.4s ease;
}

.korish:active {
    scale: 80%;
    transition: all 0.4s ease;
}

.hozirgi {
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}
.name{
    font-weight: 500;   
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 270px;   
}
.mobilResponsive{
    display: none;
}
@media screen and (max-width: 414px) and (min-width: 360px) {
    .container{
        width: 100%!important;
        margin: 0!important;
    }
    .carousel{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%!important;
    }
    .carousel-item img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%!important;
    }
    .productInfo h1{
        font-size: 17px;
    }
    .Products {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px!important;
    }
    .product{
        width: 160px;
        height: 330px;
        justify-self: center;
        align-self: center;

    }
    .img img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .productInfo{
        width: 100%;
        margin: 0px!important;
        padding: 0;
    }
    .main{
        width: 100%!important;
    }

    .name{
        width: 100%;
    }
    .korish p{
        display: none;
    }
    .mobilResponsive{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;        
        width: 100%;
        height: 61px;
        background: var(--add);
        box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .mobilResponsiveDivs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .mobilResponsiveDivs p{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: white;
    }
}