<footer>

    <div class="footerDiv">
        <p>Bog'lanish<div class="hr"></div></p>

        <div class="footerInfo">
            <span>+998943614656</span>
            <span>Asadbek Abdullayev</span>
        </div>
    </div>

    <div class="footerDiv">
        <p>Kompaniya<div class="hr"></div></p>
        <div class="footerInfo">
            <span>Biz haqimizda </span>
            <span>Bizning hizmatlar</span>
            <span>Bizning hizmatlar</span>
            <span>Xavfsizlik</span>
        </div>
    </div>

    <div class="footerDiv">
        <p>Yordam 24/7<div class="hr"></div></p>
        <div class="footerInfo">
            <span>FAQ</span>
            <span>Telegram yordam</span>
            <span>returns</span>
            <span>+998943614656</span>
            <span>To'lov usullari</span>
        </div>
    </div>

    <div class="footerDiv">
        <p>Bog'lanish<div class="hr"></div></p>
        <div class="footerIcon">
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
    
</footer>