<header>
    <nav>
        <img src="../images/image.svg" alt="" class="logo">
        <div class="kategoriSearch">
            <div class="kategori">
                <img src="../images/Frame.svg" alt="">
                <p>Kategory</p>
            </div>
            <div class="searchDiv">
                <input type="text">
                <div class="searchIcon">
                    <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                </div>
            </div>
        </div>
        <div class="users">
            <div class="accaunt">
                <i class="fa-solid fa-user" style="color: #000000;"></i>
                <span>Kirish</span>
            </div>
            <div class="accaunt">
                <i class="fa-sharp fa-solid fa-cart-shopping" style="color: #000000;"></i>
                <span>Savat</span>
                <p>0</p>
            </div>
        </div>

    </nav>
    <ul class="listes">
        <li class="item">Parfum</li>
        <li class="item">Aromat</li>
        <li class="item">Mushkiambar</li>
        <li class="item">Womens's Collection</li>
        <li class="item">Love Potion</li>
        <li class="item">Men's Collection</li>
        <li class="item">Essense&Co.</li>
        <li class="item">Venture</li>
        <li class="item">The One</li>
        <li class="item">Soul</li>
        <li class="item">Sun 360</li>
    </ul>
</header>
