.Orders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.zakaz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.zakazBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    gap: 13px;
}

.gorod {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    width: 570px;
}

.selects select {
    width: 270px;
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    outline: none;
}

.selects input {
    width: 270px;
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    outline: none;
    padding: 10px;
}

.selects input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #919191;

}

.selects p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #636363;
}