{% extends 'home/base.html' %}  
{% load static %}   
{% block content %}

<div class="ProductPage">
    <h1 class="productName">Chanel#112</h1>
    <div class="productInfoo">
        <div class="productImages">
            <div class="images">
                <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
            </div>
            <div class="images2">
                <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
                <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
                <img src="{% static 'images/t_product_540_high.jpg.png' %}" alt="">
            </div>
        </div>
        <div class="productInfoAll">
            <span>Ma'lumot</span>
            <p>Chanel tualettan chiqqandan keyin sapish uchun foydalaniladi </p>
        </div>
        <div class="productInfoZakaz">
            <div class="priceZakaz">
                <span>999 000 so'm</span>
                <div class="priceZakazBtns">
                        <p><img src="{% static 'images/Cart Check.svg' %}" alt=""> Savatga qo'shish</p>
                        <p class="aa">Hoziroq harid qilish</p>
                </div>
            </div>
            <div class="zakazInfo">
                <p>
                    <img src="{% static 'images/2.svg' %}" alt="">
                    Быстрая доставка в течении 3-4 дней
                </p>
                <p>
                    <img src="{% static 'images/2.svg' %}" alt="">
                    Возможность открыть товар у курьера
                </p>
                <p>
                    <img src="{% static 'images/2.svg' %}" alt="">
                    Все товары имееют гарантию
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}